# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
        exclude: ^static/|migrations/

    -   id: end-of-file-fixer
        exclude: ^static/|migrations/

    -   id: check-yaml
    -   id: check-added-large-files

-   repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.3.0
    hooks:
    -   id: black

-   repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
    rev: v0.4.2
    hooks:
    # Run the linter.
    -   id: ruff

-   repo: https://github.com/PyCQA/bandit
    rev: 1.7.8
    hooks:
    -   id: bandit
        args: ["-c", "pyproject.toml", "-r", "."]
        additional_dependencies: ["bandit[toml]"]

-   repo: local
    hooks:
    -   id: django-manage-check
        name: Run Django's system check
        language: system
        entry: make django-check
        pass_filenames: false
